__pycache__/
migrations/
db.sqlite3

# Python virtual environments
venv/
.env/
.venv/
env/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
